<?xml version="1.0"?>
<configuration>
  <system.web>
	<compilation debug="true" targetFramework="4.5" />
	<httpRuntime targetFramework="4.5" enableVersionHeader="false" />
  </system.web>
  <system.webServer>
	<handlers>
	  <add name="NonaeHandler"
		   path="*"
		   verb="*"
		   type="Nonae.Core.Handler"/>
	</handlers>
  </system.webServer>
</configuration>
